@{
    this.ViewData["Title"] = "Unavailable Salon/Service";
}

<h3>Приносим извенения, но данный товар  не доступен.</h3>

<div class="row">
    <div class="col-lg-4 ml-lg-5">
        <div class="button button-large button_1 elements_button mt-4">
            <a asp-area="" asp-controller="Salons" asp-action="Index">
                <span>Попытаться найти в другом месте</span>
            </a>
        </div>
    </div>
</div>